.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 7px;
    color: white;
    background-color: #61d6aa;
    border: 2px solid #f5dada;
    border-radius: 11px;
    cursor: pointer;

}
.my-1{
    margin: 25px 0;
}

.my-2{
    margin: 2px 0;
}

.text-center{
    text-align: center;
}